.navButton {
    -fx-background-color: #6a7a6d;
}
.navButton:hover {
    -fx-background-color: #728475;
}

.navButton:pressed {
    -fx-background-color: #8cad91;
}

.slider .track {
    -fx-background-color: #d3d3d3;
}

.slider .thumb {
    -fx-background-color: transparent;
    -fx-background-image: url('../icons/leaficon.png');
    -fx-padding: 12;
}

.textHolder {
    -fx-background-color: #89a888;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}